 
 .box h1{
   font-size: 70px !important;
   font-weight: 900;
 }
 .box p{
   font-size: 30px !important;
   /* font-weight: 900; */
 }
 .box h1{
   font-size: 80px !important;
   font-weight: 900;
 }